@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scrollbar */
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  /* Color del fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #919191;
  /* Color de la barra de desplazamiento */
  border-radius: 3px;
  /* Radio de la esquina de la barra de desplazamiento */
}

/* @media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666;
  }
} */

.custom-date-picker {
  position: relative;
}

.custom-date-picker .tremor-datepicker-popover {
  position: absolute;
  top: auto;
  bottom: 100%; /* Coloca la interfaz de selección encima del input */
  left: 0;
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}